<!-- <div class="container">
  <div class="card">
    <div class="card-header">
    <div><h1>{{title}}</h1></div>
</div>
</div>
</div><br>
<div class="container1">
  <div class="card">
    
    
<h3>List Of Courses...</h3>
  </div>
</div>
<ul style="margin-left: 750px;" >
  <li *ngFor ="let i of courses">{{i}}</li>
</ul>
<br>
<div class="container1">
  <div class="card">
<h3>List Of Countries...</h3>
</div></div>

<ul style="margin-left: 750px;">
  <li *ngFor="let c of countries">{{c}}</li>
</ul>
<div class="select">
<select (change)="display()">
  <option >Select Laptop....</option>
  <option  *ngFor="let l of laptops">{{l}}</option>
  
</select><br><br>
<button (click)="display()">Click Me</button>
</div>
<span *ngIf="isAvailable; then condition1 else condition2"></span>
<ng-template #condition1>valid</ng-template>
<ng-template #condition2>Invalid</ng-template> -->

<!-- <h1>{{title+title1}}</h1> -->
<h1 style.color={{title1}} >hiiii {{title1 }}</h1>

<input type="text" ref-name />
<input type="text" #age />
<button (click)="dis(name,age.value)" >Click</button>
<app-login></app-login>

